.logo{
    width: 200px;
    float: right;
    background-color: none;
    background-image: none;
}

#imginicio{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.patas {
    width: 150px;
    
}

#containertexto{
    width: 100%;
    padding: 5px;
    margin: 5px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-item :hover {
 background-color: rgb(120, 223, 236);
 text-decoration: none;
 font-family: arial black;
}

#container2 {
    width: 100%;
    margin: 5px;
    padding: 70px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#foto1{
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    float: left;
}

#foto2{
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    float: left;
}

#foto3{
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    float: left;
}

#foto4{
    width: 300px;
    margin: 10px;
    float: left;
    border-radius: 10px;
}

 .rodape {
    text-align: center;
    font: 15pt Arial;
}

@media only screen and (max-device-width: 375px) {
    #container2 {margin: -10px;}
    #imginicio {margin: -10px;}
    .nav-item :hover {margin: -10px;}
}










